#noscript {
    text-align: center;
    display: block;
    font-size: 50px;
    padding: 20px 0;
    background: #F00;
}

#toolbar {
    position: fixed;
    z-index: 999;
}

#image_wrapper {
    position: fixed;
    left: 90px;
    overflow: auto;
}